@use "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  opacity: 1;
  display: flex;
  align-items: center;
  z-index: 3;

  .action-title {
    margin-bottom: 2.4rem;
  }

  .board-name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
  }

  .tag-input-wrapper {
    margin-top: 2.4rem;
  }

  .save {
    width: 100%;
    margin-top: 2.4rem;
  }
}

.hide-edit-board {
  pointer-events: none;
  opacity: 0;
}

.light {
  background-color: $white;
}

.dark {
  background-color: $dark-grey;
}

@media (min-width: 768px) {
  .overlay .edit-board-wrapper {
    margin: 0 14.4rem;
    padding: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .overlay .edit-board-wrapper {
    margin: 0 48rem;
  }
}
