@use "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  opacity: 1;
  display: flex;
  align-items: center;
  z-index: 4;

  .task-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    margin-bottom: 2.4rem;

    button {
      // Remove default button styling
      border: none;
      outline: none;
      font: inherit;
      background: transparent;
      //
    }
  }

  .task-desc {
    @include mixins.large-body;
    color: $medium-grey;
    margin-bottom: 2.4rem;
  }

  .subtasks-wrapper {
    margin-bottom: 2.4rem;

    .tracker {
      @include mixins.medium-body;
      color: $medium-grey;
      margin-bottom: 1.6rem;
    }

    .subtask {
      border-radius: 0.4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 0.8rem;
      padding: 1.2rem 0.8rem 1.2rem 1.2rem;

      .checkbox {
        height: 1.6rem;
        flex: 0 0 1.6rem;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        @include mixins.medium-body;
      }
    }
  }
}

.hide-task {
  pointer-events: none;
  opacity: 0;
}

.checked {
  .checkbox {
    background-color: $main-purple !important;

    img {
      display: block !important;
    }
  }

  p {
    text-decoration: line-through;
    opacity: 50%;
  }
}

.unchecked:hover {
  background-color: $main-purple-opacity !important;
}

.dark {
  .subtasks-wrapper {
    .tracker {
      color: $white;
    }

    .subtask {
      background-color: $dark-mode-bg;

      .checkbox {
        background-color: $dark-grey;
        border: 1px solid $lines-opacity;

        img {
          display: none;
        }
      }

      p {
        color: $white;
      }
    }
  }
}

.light {
  .subtasks-wrapper {
    .tracker {
      color: $medium-grey;
    }

    .subtask {
      background-color: $light-mode-bg;

      .checkbox {
        background-color: $white;
        border: 1px solid $lines-opacity;

        img {
          display: none;
        }
      }

      p {
        color: $black;
      }
    }
  }
}
