@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

$font: "Plus Jakarta Sans", sans-serif;
$box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
$black: #000112;
$dark-mode-bg: #20212c;
$dark-grey: #2b2c37;
$lines-dark: #3e3f4e;
$lines-light: #e4ebfa;
$lines-opacity: rgba(130, 143, 163, 0.25);
$light-mode-bg: #f4f7fd;
$medium-grey: #828fa3;
$main-purple: #635fc7;
$main-purple-hover: #a8a4ff;
$main-purple-opacity: rgba(99, 95, 199, 0.1);
$red: #ea5555;
$red-hover: #ff9898;
$white: #ffffff;
