@use "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.logo-container {
  padding: 0 2.4rem;
  height: 100%;
  width: 20.2rem;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  align-items: center;
  transition: border-right-color 0.5s ease-in-out;

  .logo {
    background-image: url("../../../assets/logo-light.svg");
    transition: background-image 0.5s ease-in-out;
    height: 2.6rem;
    width: 15.3rem;
  }
}

.board-details {
  padding: 1.6rem 2.4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: padding 0.5s ease-in-out;

  h2 {
    font-family: $font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    transition: color 0.5s ease-in-out;
  }

  .board-configuration {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2.4rem;

    button {
      // Remove default button styling
      border: none;
      outline: none;
      font: inherit;
      background: transparent;
      //
      background-color: $main-purple;
      border-radius: 2.4rem;
      height: 100%;
      width: 16.4rem;

      p {
        @include mixins.medium-heading;
        color: $white;
      }
    }
  }
}

.add-padding {
  padding-left: 8.3rem;
}

.light {
  color: $black;
}

.dark {
  color: $white;
}

.logo-light {
  border-right-color: $lines-light;
}

.logo-dark {
  border-right-color: $lines-dark;

  .logo {
    background-image: url("../../../assets/logo-dark.svg");
  }
}

@media (min-width: 1440px) {
  .logo-container {
    width: 21.1rem;
    padding: 3.5rem 3.3rem 3.6rem 2.4rem;
  }

  .board-details {
    padding: 2rem 3.3rem 2.8rem 3.2rem;

    h2 {
      @include mixins.xlarge-heading;
    }
  }

  .add-padding {
    padding-left: 11.3Zx rem;
  }
}
