@import "../../styles/variables.module";

header {
  background-color: $white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  width: 100%;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.mobile-configs {
  justify-content: space-between;
  height: 6.4rem;
  padding: 1.6rem;
}

.configs {
  height: 8.1rem;
}

.light {
  background-color: $white;
  border-bottom-color: $lines-light;
}

.dark {
  background-color: $dark-grey;
  border-bottom-color: $lines-dark;
}
