@import "../../../styles/variables.module";

.theme-toggler {
  height: 4.8rem;
  width: 100%;
  border-radius: 0.6rem;
  padding: 1.4rem 5.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease-in-out;

  button {
    // Remove default button styling
    border: none;
    outline: none;
    font: inherit;
    background: transparent;
    //
    background-color: $main-purple;
    border-radius: 1.2rem;
    cursor: pointer;
    height: 2rem;
    width: 4rem;
    padding: 0.3rem;
    position: relative;

    &:hover {
      background-color: $main-purple-hover;
    }

    div {
      position: absolute;
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;
      background-color: $white;
      transition: transform 0.5s ease;
    }
  }
}

.transform-left {
  transform: translate(0%, -50%);
}

.transform-right {
  transform: translate(2rem, -50%);
}

.light {
  background-color: $light-mode-bg;
}

.dark {
  background-color: $dark-mode-bg;
}
