@use "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.button-secondary {
  // Remove default button styling
  border: none;
  outline: none;
  background: transparent;
  //
  border-radius: 2rem;
  cursor: pointer;
  height: 4rem;
  width: 100%;

  p {
    color: $main-purple;
    font: $font;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.3rem;
  }
}

.light {
  background-color: $main-purple-opacity;

  &:hover {
    background-color: rgba(99, 95, 199, 0.25);
  }
}

.dark {
  background-color: $white;
}
