@use "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.actions-wrapper {
  border-radius: 0.8rem;
  box-shadow: $box-shadow;
  padding: 1.6rem;
  position: absolute;
  width: 12rem;
  top: 3rem;
  right: -2rem;

  p {
    @include mixins.large-body;
  }

  .edit {
    color: $medium-grey;
    margin-bottom: 1.6rem;
  }

  .delete {
    color: $red;
  }
}

.dark {
  background-color: $dark-mode-bg;
}

.light {
  background-color: $white;
}
