@use "../../styles/mixins.module";
@import "../../styles/variables.module";

.action-tag-label {
  @include mixins.medium-body;
  margin-bottom: 0.8rem;
  display: block;
}

.action-tag-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;

  input {
    @include mixins.large-body;
    background-color: transparent;
    border: 1px solid $lines-opacity;
    border-radius: 0.4rem;
    height: 4rem;
    width: 100%;
    padding: 0 0.8rem 0 1.6rem;

    &:active {
      outline: 1px solid $main-purple;
    }

    &:focus {
      outline: transparent;
    }

    &::placeholder {
      opacity: 0.25;
    }
  }

  img {
    margin-left: 1.6rem;
  }

  .action-button {
    width: 100%;
  }
}

.light-tag-label {
  color: $medium-grey;
}

.dark-tag-label {
  color: $white;
}

.light-tag-wrapper {
  input {
    color: $black;
  }
}
.dark-tag-wrapper {
  input {
    color: $white;
  }
}
