@use "../../styles/mixins.module";
@import "../../styles/variables.module";

.action-input-label {
  @include mixins.medium-body;
  color: $medium-grey;
}

.action-input {
  @include mixins.large-body;
  background-color: transparent;
  border: 1px solid $lines-opacity;
  border-radius: 0.4rem;
  cursor: pointer;
  height: 4rem;
  padding: 0 0.8rem 0 1.6rem;

  &:active {
    outline: 1px solid $main-purple !important;
  }

  &:focus {
    outline: transparent;
  }

  &::placeholder {
    opacity: 0.25;
  }
}

.input-error {
  border: 1px solid $red !important;
}

.hide-error {
  display: none;
}

.show-error {
  @include mixins.large-body;
  display: block !important;
  position: absolute;
  color: red;
  right: 1rem;
  bottom: 1rem;
}

.light-label {
  color: $medium-grey;
}

.dark-label {
  color: $white;
}

.light-input {
  color: $black;

  &::placeholder {
    color: $black;
  }
}

.dark-input {
  color: $white;

  &::placeholder {
    color: $white;
  }
}
