@use "../../styles/mixins.module";
@import "../../styles/variables.module";

.action-input-label {
  @include mixins.medium-body;
  color: $medium-grey;
}

.action-input {
  @include mixins.large-body;
  background-color: transparent;
  border: 1px solid $lines-opacity;
  border-radius: 0.4rem;
  height: 4rem;
  padding-left: 1.6rem;

  &:active {
    outline: 1px solid $main-purple;
  }

  &:focus {
    outline: transparent;
  }

  &::placeholder {
    opacity: 0.25;
  }
}

.light-label {
  color: $medium-grey;
}

.dark-label {
  color: $white;
}

.light-input {
  color: $black;

  &::placeholder {
    color: $black;
  }
}

.dark-input {
  color: $white;

  &::placeholder {
    color: $white;
  }
}
