@use "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.task {
  background-color: $white;
  border-radius: 0.8rem;
  box-shadow: $secondary-box-shadow;
  width: 100%;
  height: 100%;
  padding: 2.3rem 1.6rem;

  .task-title {
    @include mixins.medium-heading;
    margin-bottom: 0.8rem;
  }

  .subtasks {
    @include mixins.medium-body;
    color: $medium-grey;
  }
}

.light {
  background-color: $white;

  .task-title {
    color: $black;
  }
}

.dark {
  background-color: $dark-grey;

  .task-title {
    color: $white;
  }
}
